Repository vectra-ai-research/Halberd, pull requests merged in 2024-11, with the labels that each got.

#33 Update Azure techniques & bug fixes
  Halberd.py
  attack_techniques/azure/azure_enumerate_assigned_roles.py
  attack_techniques/azure/azure_enumerate_vm.py
  attack_techniques/azure/azure_execute_script_on_vm.py
  pages/attack.py
  pages/home.py
Labels: bug, technique update

#35 Automator v2
  Halberd.py
  core/Functions.py
  core/playbook/playbook_step.py
  pages/attack.py
  pages/automator.py
Labels: enhancement

#36 Automator Enhancement: View playbook progress
  Halberd.py
  attack_techniques/m365/m365_deploy_mail_forwarding_rule.py
  attack_techniques/m365/m365_search_teams_chat.py
  core/Functions.py
  pages/automator.py
Labels: enhancement, technique update

#34 update abuse azure policy technique with remediation task
  attack_techniques/azure/azure_abuse_azure_policy_to_disable_logging.py
Labels: technique update, wip

#38 Azure techniques
  attack_techniques/__init__.py
  attack_techniques/azure/azure_exfil_vm_disk.py
  attack_techniques/azure/azure_generate_storage_container_sas.py
  attack_techniques/azure/azure_generate_vm_disk_sas_url.py
  attack_techniques/azure/azure_modify_keyvault_access.py
  attack_techniques/base_technique.py
  core/Functions.py
Labels: bug, enhancement, new technique
