Repository vectra-ai-research/Halberd, pull requests merged in 2025-04, with the labels that each got.

#57 New Feature : Halberd Attack Agent
  README.md
  agent/attack_agent.py
  agent/tools.py
  assets/halberd.css
  core/output_manager/output_manager.py
  halberd.py
  pages/attack_agent.py
  requirements.txt
Labels: new feature

#56 feat: Add GCPEnumerateComputeEngineInstances attack technique
  .gitignore
  attack_techniques/__init__.py
  attack_techniques/gcp/gcp_enumerate_compute_engine_instances.py
  requirements.txt
Labels: new technique, wip

#59 Azure techniques
  attack_techniques/__init__.py
  attack_techniques/azure/azure_enumerate_key_vaults.py
  attack_techniques/azure/azure_enumerate_logic_apps.py
  attack_techniques/azure/azure_mass_resource_deletion.py
  attack_techniques/azure/azure_modify_logic_app_trigger.py
Labels: new technique
